.landingMain {
    display: flex;
    flex-direction: column;

    section {
        margin: 20px 40px;

        @media (min-width:768px) {
            margin: 60px 120px;
        }

        &.twoSidedSection {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @media (min-width:768px) {
                flex-direction: row;
            }
        }

        &.headerSection {
            margin-top: 80px;

            .leftSide {
                width: 100%;
                padding: 60px 0 0;

                @media (min-width:768px) {
                    width: 600px;
                    padding: 100px 0 0;
                }

                h2 {
                    font-size: 4.8rem;

                    span {
                        color: #9BA4ED;
                    }
                }

                p {
                    width: 80%;
                    font-size: 1.4rem;
                    margin: 20px 0 30px;
                }
            }

            .rightSide {
                margin-top: 60px;
                transform: scale(0.7);

                @media (min-width:768px) {
                    margin-top: 0;
                    transform: scale(0.9);
                }

                @media (min-width:1024px) {
                    transform: scale(1);
                }
            }
        }

        &.middleSection {
            margin: 80px 40px;
            align-items: center;

            @media (min-width:1024px) {
                margin: 100px 120px;

            }

            .rightSide {
                @media (min-width:425px) {
                    margin: 0 0 0 45px;
                }

                @media (min-width:768px) {
                    width: 50%;
                }

                h4 {
                    font-size: 4.8rem;

                    span {
                        color: #9BA4ED;
                    }
                }

                p {
                    width: 80%;
                    font-size: 1.4rem;
                    margin: 20px 0 30px;

                    @media (min-width:769px) {
                        width: 60%;
                    }
                }
            }

            .leftSide {
                width: auto;
                display: flex;
                justify-content: center;
                transform: scale(0.6);


                @media (min-width: 768px) {
                    width: 50%;
                    transform: scale(1);
                }

                img {
                    width: inherit;
                    min-width: 300px;
                }


            }
        }

        &.cardSection {
            display: flex;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;

        .cardContainer {
            display: flex;
            flex-direction: column;
            margin: 80px 40px 150px;
            padding: 60px 20px;

            h4 {
                font-size: 4.8rem;
                text-align: center;
            }

            p {
                font-size: 1.4rem;
                width: 60%;
                text-align: center;
                margin: 25px 0;
            }
        }

    }
}